@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: "Cutive Mono", monospace;
}

header {
  padding: 1rem;
  text-align: center;
  h2 {
    font-size: 2rem;
  }
}

main {
  margin: 0 auto;
  max-width: 550px;
  min-height: 400px;
  border-radius: 1.5rem;
  padding: 1.5rem;
  background: #090909;
  background: linear-gradient(
    to right bottom,
    rgba(20, 20, 20, 0.3),
    rgba(0, 0, 0, 0.1)
  );

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;

    .column {
      height: 100%;
      textarea {
        resize: none;
        display: block;
        min-height: 151px;
        border-radius: 1.5rem;
        outline: none;
        border: none;
        padding: 1rem;
        background: transparent;
        color: #fff;
        border: 1px solid #fff;
        &::-webkit-scrollbar {
          width: 5px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #4caf50;
          border-radius: 5px;
        }
        &::-webkit-scrollbar-track {
          background-color: #f0f0f0;
          display: none;
        }
        &:placeholder-shown {
          color: #fff;
        }
      }

      small {
        display: inline-block;
        margin-top: 5px;
      }

      .ctn {
        .btn {
          font-size: 0.8rem;
          cursor: pointer;
          text-decoration-line: underline;
          transition: color 0.5s ease-in;
          &:first-of-type {
            margin-right: 12px;
          }
          &:hover {
            color: #f4f4f4;
          }
        }
      }

      .output {
        width: 100%;
        min-height: 151px;
        margin-top: 1rem;
        padding: 0.7rem;
        background: #131313;
        border-radius: 1.5rem;
        backdrop-filter: blur(2rem);
      }

      .copy__btn {
        background: transparent;
        outline: none;
        border: none;
        padding: .25rem;
        color: #f4f4f4;
        margin-top: .5rem;
        cursor: pointer;
        transition: .3s ease-in-out;
        font-family: "Cutive Mono", monospace;
        &:hover {
          border-bottom: 1px solid #f4f4f4;
        }
      }
    }
  }

  .first__column {
    transition: transform 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    &::before {
      content: 'JSON';
    }
  }

  .third__column {
    transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    &::before {
      content: 'CSV';
    }
  }

  .second__column {
    width: 40px;
    height: 40px;
    padding: 0.3rem;
    border: 1px solid #fff;
    border-radius: 50%;
    align-self: center;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}

footer {
  margin-top: 1.2rem;
  text-align: center;
  a {
    color: #fff;
    transition: color 0.5s ease;
    &:hover {
      color: #f4f4f4;
    }
  }
}

.rotate {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

.translate__first {
  transform: translateX(135%);
}

.translate__third {
  transform: translateX(-135%);
}
